.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  height: 100vh; 
}

.App-header {
  margin-bottom: 20px;
  font-size: 24px;
}

#comp-img{
  width: 250px;
}

.welcome-title {
  font-family: monospace;
  position: relative;
  transform: translateX(-50%);
  text-align: center;
  font-size: xx-large;
}

.welcome-container {
  font-family:monospace;
  font-size: larger;
  padding: 20px;
  max-width: 800px;
  margin: 50px auto;
  text-align: center;
  border: 2px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: rgb(190, 190, 196);
}

.main-content {
  position: absolute;
}

/* Add more styling for other elements if needed */
